p {
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #081c24;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 60px;
}

.App-logo {
  height: 10%;
  width: 10%;
}
.lastMovie-section {
  padding: 10px 60px;
  background-color: beige;
}
.section-title {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  color: #081c24;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.movieCard {
  background-color: #081c24;
  height: 200px;
  width: 300px;
  display: flex;
  margin: 5px 5px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3px 3px lightgray;
  border-radius: 10px;
  overflow: hidden;
}

.poster {
  height: inherit;
}
.poster img {
  width: auto;
  height: inherit;
  object-fit: contain;
}
.movie-title {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-title span {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  color: white;
  text-align: center;
}
.button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #081c24;
  color: white;
  size: 30px;
  margin: 30px 0px;
}
